<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu Project</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../fontawesome-free-6.4.0-web/css/all.css" />
    <script defer src="../static/js/index.js"></script>
  </head>
  <body>
    <section class="container">
      <!-- title -->
      <div class="title">
        <h1>Our Menu</h1>
        <div class="underline"></div>
      </div>
      <!-- end of title -->
      <!-- buttons -->
      <!-- end of buttons -->
      <div class="btn-container">
        <!-- <button data-id="all">All</button>
        <button data-id="breakfast">breakfast</button>
        <button data-id="lunch">Lunch</button>
        <button data-id="shakes">Shakes</button> -->
      </div>
      <div class="menu">
        <!-- single item -->

        <!-- <article class="menu_item">
          <img src="../static/images/pan_cake.jpg" alt="pan_cake" />
          <div class="description">
            <div class="title-rate">
              <h5>Delicious Pancakes</h5>
              <h6><i class="fa-solid fa-dollar-sign fa-sm"></i>13.4</h6>
            </div>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio, saepe ad quibusdam dolore expedita velit.
            </p>
          </div>
        </article> -->

        <!-- end of single item -->
      </div>
    </section>
  </body>
</html>
